<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.topie.huaifang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:name=".HFApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".facing.HFMainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.HFLoginActivity" />
        <activity android:name=".function.guide.HFFunGuideActivity" />
        <activity android:name=".function.live.HFFunLiveActivity" />
        <activity android:name=".function.notice.HFFunPublicActivity" />
        <activity android:name=".communication.HFCommFriendsActivity" />
        <activity android:name=".function.party.HFFunPartyActivity" />
        <activity android:name=".function.yellowpage.HFFunYellowPageActivity" />
    </application>

</manifest>